# Provider
LLM__PROVIDER="azure"

# Gemini
GEMINI__GOOGLE_API_KEY=xxxx
GEMINI__GEMINI_MODEL=gemini-2.5-flash

# Azure OpenAI
AZURE_OPENAI__AZURE_OPENAI_ENDPOINT=https://aes-gen-ai-internal.openai.azure.com
AZURE_OPENAI__AZURE_OPENAI_API_KEY=f3d09a596c054ff49a60664c34088afd
AZURE_OPENAI__AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini-developers
AZURE_OPENAI__AZURE_OPENAI_API_VERSION=2025-01-01-preview